.song-card {
  cursor: pointer;
  margin: 10px;
}

.song-name {
  text-align: center;
  font: var(--tui-font-text-m);
  font-weight: bold;
  margin: 0;

  a {
    color: var(--tui-text-01);
    cursor: pointer;
    text-decoration: underline;
  }
}

.song-artist {
  text-align: center;
  margin-top: 0;
}

.downloaded {
  color: var(--tui-positive)
}
