<sui-card3d (click)="startSinging()" class="song-card" #card>
  <sui-fast-image class="sui-card-3d-image" [src]="cover$ | async" [blurrySrc]="blurryCover$ | async" [alt]="song?.name"></sui-fast-image>
  <p class="song-name sui-single-line">
    <a (click)="startSinging()">{{song?.name}}</a>
    <tui-svg src="tuiIconDownload" *ngIf="isDownloaded$ | async" class="downloaded" [tuiHint]="downloadedHint" [tuiHintShowDelay]="100"></tui-svg>
  </p>
  <p class="song-artist sui-single-line">{{song?.artist}}</p>
</sui-card3d>

<ng-template #downloadedHint>
  {{ 'play.downloadedHint' | transloco }}
</ng-template>
