.song-card {
  cursor: pointer;
  margin: 10px;
}

.song-name {
  text-align: center;
  font-weight: bold;
  margin: 0;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.song-artist {
  text-align: center;
  margin-top: 0;
}

img.downloaded.icon {
  display: inline;
  width: auto;
}
