<h1>{{ 'management.users.userList.header' | transloco }}
  <singularity-admin-feature-icon size='large'></singularity-admin-feature-icon>
  <button tuiButton size='xs' icon='tuiIconPlus' routerLink='new'
          class='tui-space_left-2'>{{ 'management.users.userList.newUser' | transloco }}
  </button>
</h1>
<table class='sui-table'>
  <tbody>
  <tr>
    <th></th>
    <th>{{ 'general.username' | transloco }}</th>
    <th>{{ 'general.email' | transloco }}</th>
    <th>{{ 'management.users.userList.actions' | transloco }}</th>
  </tr>
  <tr singularity-user-list-item
      *ngFor='let user of users$ | async'
      [user]='user'
      (deleted)='deleteUser(user)'></tr>
</table>
