.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

.profile-picture {
  border-radius: 24px;
}
