<ng-container *ngIf="party$ | async; let party; else loading">
  <ng-container *ngIf="participant$ | async; let participant; else loading">
    <singularity-party-song-select-navbar [party]="party" [participant]="participant"></singularity-party-song-select-navbar>
    <singularity-party-song-select-header [party]="party"></singularity-party-song-select-header>
    <table class="sui-table">
      <tbody>
      <tr>
        <th></th>
        <th>{{ 'management.songs.songList.title' | transloco }}</th>
        <th>{{ 'management.songs.songList.actions' | transloco }}</th>
      </tr>
      <tr singularity-party-song-select-item
          *ngFor="let song of songs$ | async"
          [song]="song" [party]="party"></tr>
      </tbody>
    </table>

  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="center">
    <sui-loader></sui-loader>
  </div>
</ng-template>
