.flex {
  display: flex;
}

.analyser-text {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.analyser-bar {
  width: 100px;
}

::ng-deep {
  tui-select-option {
    display: block !important;
  }
}
