/* You can add global styles to this file, and also import other style files */

@import '@taiga-ui/core/styles/taiga-ui-local';
@import '../../../libs/ui/src/lib/scss/styles.scss';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000000 !important;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex-1 {
  flex: 1;
}

.owl-dot span {
  background: var(--primary);
}
