<td>
  <div class="flex icon-td">
    <img src="assets/icons/shield.svg" alt="admin" [suiTooltip]="adminHint" *ngIf="user?.isAdmin" />
    <img src="assets/icons/check.svg" alt="active" [suiTooltip]="activeHint" *ngIf="user?.active" />
    <img src="assets/icons/x.svg" alt="inactive" [suiTooltip]="inactiveHint" *ngIf="!user?.active" />
  </div>
</td>
<td>{{ user?.username }}</td>
<td>{{ user?.email }}</td>
<td>
  <button
    suiButton
    type="button"
    size="s"
    [suiTooltip]="editHint"
    (click)="editUser()"
  >
    <img class="icon" src="assets/icons/edit.svg" width="20" alt="edit">
  </button>
  <button
    suiButton
    type="button"
    size="s"
    (click)="deleteUser()"
    [suiTooltip]="deleteHint"
  >
    <img class="icon" src="assets/icons/delete.svg" width="20" alt="delete">
  </button>
</td>

<ng-template #adminHint>
  {{ 'management.users.userListItem.adminHint' | transloco }}
</ng-template>

<ng-template #activeHint>
  {{ 'management.users.userListItem.activeHint' | transloco }}
</ng-template>

<ng-template #inactiveHint>
  {{ 'management.users.userListItem.inactiveHint' | transloco }}
</ng-template>

<ng-template #editHint>
  {{ 'management.users.userListItem.editUserHint' | transloco }}
</ng-template>

<ng-template #deleteHint>
  {{ 'management.users.userListItem.deleteUserHint' | transloco }}
</ng-template>
