.flex {
    display: flex;
    justify-content: center;
}

.flex-item {
    flex: 1;
    max-width: 50%;
    min-width: 250px;
}

.video-title-container {
    margin-left: 1rem;
}

.video-thumbnail {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    img {
        border-radius: var(--tui-radius-xl) var(--tui-radius-xl) 0 0;
        max-width: 100%;
    }
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    display: flex;

    a {
        color: var(--tui-primary-text)
    }
}
