<div class="tui-space_top-5">
  <h2>{{ 'management.songs.createSong.createSongUploadTxtFile.txtFile' | transloco }}</h2>
  <p>{{ 'management.songs.createSong.createSongUploadTxtFile.txtFileInfo' | transloco }}</p>

  <tui-input-files
    *ngIf="!txtFile"
    accept=".txt"
    [(ngModel)]="txtFile"
    (ngModelChange)="txtFileChanged()"
  ></tui-input-files>
  <tui-files class="tui-space_top-1">
    <tui-file
      [state]="isLoading ? 'loading' : 'normal'"
      *ngIf="txtFile"
      [file]="txtFile!"
      [showDelete]="true"
      (removed)="txtFile = null"
    ></tui-file>
  </tui-files>
</div>

<ng-container *ngIf="songUploadInfo$ | async; let songUploadInfo">
  <ng-container *ngIf="songUploadInfo.isVideoDownloadable">
    <h2>{{ 'management.songs.createSong.createSongUploadTxtFile.downloadable' | transloco }}</h2>
    <div class="flex">
      <tui-island class="flex-item video-thumbnail">
        <img [src]="songUploadInfo.videoInfo?.thumbnailUrl">
        <div class="container">
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <tui-avatar [avatarUrl]="songUploadInfo.videoInfo?.authorThumbnailUrl ?? ''"></tui-avatar>
            </figure>
          </div>
          <div>
            <p class="tui-island__category">{{songUploadInfo.videoInfo?.author}}</p>
            <h3 class="tui-island__title">{{songUploadInfo.videoInfo?.title}}</h3>
          </div>
        </div>
      </tui-island>
      <div class="flex-item">
        <h1>test</h1>
      </div>
    </div>
  </ng-container>
</ng-container>
