<h1>{{ 'sing.microphoneSelectionDialog.header' | transloco }}</h1>
<ng-container *ngIf="devices$ | async; let devices; else loading">
  <ng-container *ngFor="let formControl of formArray.controls; let i = index">
    <sui-select [formControl]="formControl" class="sui-space-top">
      <sui-select-option *ngFor="let device of devices" [value]="device" [valueContent]="device?.device?.label ?? null">
        <div class="flex" *ngIf="device !== null">
          <p class="analyser-text">{{device.device.label}}</p>
          <progress
            suiProgress
            class="analyser-bar"
            max="10"
            [value]="device.meter$ | async"
          ></progress>
        </div>
        <div *ngIf="device === null">
          {{ 'sing.microphoneSelectionDialog.noPlayer' | transloco }}
        </div>
      </sui-select-option>
    </sui-select>
  </ng-container>
</ng-container>

<button suiButton
        class="sui-space-top-large"
        [disabled]="formArray.length < modalContext.data.minCount + 1 || formArray.length > modalContext.data.maxCount + 1"
        (click)="submit()">{{ 'sing.microphoneSelectionDialog.submit' | transloco }}</button>
<button suiButton
        appearance="warn"
        class="sui-space-top-large"
        (click)="abort()">{{ 'general.cancel' | transloco }}</button>

<ng-template #loading>
  <progress
    suiProgress
    max="100"
    class="progress"
  ></progress>
</ng-template>
