<h1>{{ 'management.songs.songList.header' | transloco }}
  <button class="sui-right" suiButton size="s" routerLink="new" *ngIf="isAdmin$ | async">
    <img class="sui-space-right" src="assets/icons/plus-circle.svg" alt="add" />
    {{ 'management.songs.songList.newSong' | transloco }}
  </button>
</h1>

<ng-container *ngIf="isAdmin$ | async">
  <ng-container *ngIf="downloadingSongs$ | async; let downloadingSongs">
    <ng-container *ngIf="downloadingSongs.length > 0">
      <p>{{ 'management.songs.songList.serverDownloadsSongs' | transloco }}</p>
      <tui-files>
        <tui-file *ngFor="let song of downloadingSongs"
                  [state]="song.state === songListDownloadState.loading ? 'loading' : 'normal'"
                  [file]="{ name: song.artist + ' - ' + song.title + '.' }">
        </tui-file>
      </tui-files>
    </ng-container>
  </ng-container>
</ng-container>


<table class="sui-table">
  <tbody>
  <tr>
    <th></th>
    <th></th>
    <th>{{ 'management.songs.songList.title' | transloco }}</th>
    <th>{{ 'management.songs.songList.author' | transloco }}</th>
    <th>{{ 'management.songs.songList.year' | transloco }}</th>
    <th>{{ 'management.songs.songList.actions' | transloco }}</th>
  </tr>
  <tr singularity-song-list-item
      *ngFor="let song of songs"
      [song]="song"
      (deleted)="removeSong(song.id)"></tr>
  </tbody>
</table>
