<h1>{{ 'management.songs.createSong.header' | transloco }}
  <singularity-admin-feature-icon size="large"></singularity-admin-feature-icon>
  <button class="sui-right" suiButton size="s" routerLink=".." [disabled]="isUploading">
    <img class="sui-space-right" src="assets/icons/x-circle.svg" alt="cancel" />
    {{ 'general.cancel' | transloco }}
  </button>
</h1>

<sui-alert [message]="alert"></sui-alert>

<singularity-create-song-uplodad-txt-file-component
  (manualUpload)="setManualUpload($event)"
  (file)="setTxtFile($event)">
</singularity-create-song-uplodad-txt-file-component>
<div *ngIf="!isManualUpload && songForm.controls.txtFile.value" class="sui-space-top-large">
  <button suiButton (click)="this.uploadSongYt()" [disabled]="isUploading" [loading]="isUploading" class="sui-space-right-large">
    {{ 'management.songs.createSong.createSongUploadTxtFile.downloadButtonText' | transloco }}
  </button>
  <button suiButton appearance="warn" (click)="this.setManualUpload(true)" [disabled]="isUploading">
    {{ 'management.songs.createSong.createSongUploadTxtFile.manualText' | transloco }}
  </button>
</div>


<form [formGroup]="songForm" *ngIf="isManualUpload">
  <div class="sui-space-top-large">
    <h2>{{ 'management.songs.createSong.audioFile' | transloco }}</h2>

    <sui-input-file accept="audio/*" formControlName="audioFile" *ngIf="!songForm.controls.audioFile.value"></sui-input-file>
    <sui-files *ngIf="songForm.controls.audioFile.value" [files]="[songForm.controls.audioFile.value!]"
               (removed)="songForm.controls.audioFile.setValue(null)"></sui-files>
  </div>

  <div class="sui-space-top-large">
    <h2>{{ 'management.songs.createSong.videoFile' | transloco }}</h2>

    <sui-input-file accept="video/*" formControlName="videoFile" *ngIf="!songForm.controls.videoFile.value"></sui-input-file>
    <sui-files *ngIf="songForm.controls.videoFile.value" [files]="[songForm.controls.videoFile.value!]"
               (removed)="songForm.controls.videoFile.setValue(null)"></sui-files>
  </div>

  <div class="sui-space-top-large">
    <h2>{{ 'management.songs.createSong.coverFile' | transloco }}</h2>

    <sui-input-file accept="image/*" formControlName="coverFile" *ngIf="!songForm.controls.coverFile.value"></sui-input-file>
    <sui-files *ngIf="songForm.controls.coverFile.value" [files]="[songForm.controls.coverFile.value!]"
               (removed)="songForm.controls.coverFile.setValue(null)"></sui-files>
  </div>

    <div class="flex">
      <button suiButton class="sui-space-top-large" (click)="uploadSong()"
              [loading]="isUploading">{{ 'general.submit' | transloco }}
      </button>
      <progress
        *ngIf="isUploading"
        max="100"
        suiProgress
        [value]="uploadProgress"
      ></progress>
    </div>
  </form>

