<h1>{{ 'management.songs.createSong.header' | transloco }}
  <button tuiButton appearance="accent" size="xs" icon="tuiIconArrowLeft" routerLink=".." [disabled]="isUploading">
    {{ 'general.cancel' | transloco }}
  </button>
</h1>

<singularity-create-song-uplodad-txt-file-component></singularity-create-song-uplodad-txt-file-component>

<!--<form [formGroup]="songForm">-->
<!--  <div class="tui-space_top-5">-->
<!--    <h2>{{ 'management.songs.createSong.txtFile' | transloco }}</h2>-->
<!--    <p>{{ 'management.songs.createSong.txtFileInfo' | transloco }}</p>-->

<!--    <tui-input-files-->
<!--      *ngIf="!songForm.controls.txtFile.value"-->
<!--      accept=".txt"-->
<!--      formControlName="txtFile"-->
<!--    ></tui-input-files>-->
<!--    <tui-files class="tui-space_top-1">-->
<!--      <tui-file-->
<!--        *ngIf="songForm.controls.txtFile.value"-->
<!--        [file]="songForm.controls.txtFile.value!"-->
<!--        [showDelete]="true"-->
<!--        (removed)="songForm.controls.txtFile.setValue(null)"-->
<!--      ></tui-file>-->
<!--    </tui-files>-->
<!--  </div>-->


<!--  <div class="flex">-->
<!--    <button tuiButton class="tui-space_top-3" (click)="uploadSong()"-->
<!--            [showLoader]="isUploading">{{ 'general.submit' | transloco }}-->
<!--    </button>-->
<!--    <progress-->
<!--      *ngIf="isUploading"-->
<!--      max="100"-->
<!--      tuiProgressBar-->
<!--      [value]="uploadProgress"-->
<!--    ></progress>-->
<!--  </div>-->
<!--</form>-->

