<singularity-navbar [transparent]="true">
  <button sui-button [isIcon]="true" (click)="previous()"><img class="icon" src="assets/icons/backwards.svg" width="20" alt="backwards">
  </button>
  <button sui-button [isIcon]="true" (click)="paused = !paused">
    <img class="icon" src="assets/icons/play.svg" width="20" alt="play" *ngIf="paused">
    <img class="icon" src="assets/icons/pause.svg" width="20" alt="pause" *ngIf="!paused">
  </button>
  <button sui-button [isIcon]="true" (click)="next()"><img class="icon" src="assets/icons/forwards.svg" width="20" alt="forwards">
  </button>
</singularity-navbar>

<ng-container *ngIf="songs$ | async; let songs">
  <div class="video-container" [class.collapsed]="isScrolled">
    <singularity-audio-player class="video" [songs]="songs" [index]="carouselIndex" [paused]="paused" [volume]="volume"
                              (songFinished)="next()"></singularity-audio-player>
    <singularity-song-carousel [songs]="songs" (changed)="onCarouselChange($event, songs)"></singularity-song-carousel>
  </div>

  <div class="bottom-section">
    <sui-background type="dots">
      <div class="search-container">
        <sui-input-container>
          <input suiInput type="text" [placeholder]="'play.search' | transloco" [(ngModel)]="searchTerm" />
        </sui-input-container>
        <sui-select [(ngModel)]="orderBy" *ngIf="'play.artist' | transloco">
          <sui-select-option [value]="{ key: 'artist', ascending: true }">
            <div class="select-option">
              <span>{{ 'play.artist' | transloco }}</span>
              <img src="assets/icons/order-asc.svg" alt="order asc" width="20" height="20" />
            </div>
          </sui-select-option>
          <sui-select-option [value]="{ key: 'artist', ascending: false }">
            <div class="select-option">
              <span>{{ 'play.artist' | transloco }}</span>
              <img src="assets/icons/order-desc.svg" alt="order desc" width="20" height="20" />
            </div>
          </sui-select-option>
          <sui-select-option [value]="{ key: 'name', ascending: true }">
            <div class="select-option">
              <span>{{ 'play.name' | transloco }}</span>
              <img src="assets/icons/order-asc.svg" alt="order asc" width="20" height="20" />
            </div>
          </sui-select-option>
          <sui-select-option [value]="{ key: 'name', ascending: false }">
            <div class="select-option">
              <span>{{ 'play.name' | transloco }}</span>
              <img src="assets/icons/order-desc.svg" alt="order desc" width="20" height="20" />
            </div>
          </sui-select-option>
        </sui-select>
      </div>

      <tui-notification *ngIf="isOfflineMode">
        {{ 'play.activeOfflineModeWarning' | transloco }} <a
        routerLink="/management/settings">{{ 'play.turnOffOfflineMode' | transloco }}</a>
      </tui-notification>

      <div class="song-grid">
        <singularity-song-grid-item [song]="song"
                                    *ngFor="let song of ((songs | search: 'name,artist' :searchTerm) | orderBy: orderBy.key :orderBy.ascending)"></singularity-song-grid-item>
      </div>
    </sui-background>
  </div>
</ng-container>
