.song-grid {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

singularity-song-grid-item, {
  flex-basis: 250px;
  display: inline-block;
  width: 250px;
}

.play-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.video-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 1000ms ease;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
}

.video {
  position: absolute;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.search-container {
  padding: 126px 25px 25px 25px;
  display: flex;
  gap: 25px;
}

.search-item {
  flex-basis: 300px;
}

.bottom-section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

virtual-scroller {
  height: 100vh;
}
