.song-grid {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

singularity-song-grid-item, {
  flex-basis: 250px;
  width: 250px;
}

.video-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 1000ms ease;
  overflow: hidden;
  position: relative;

  &.collapsed {
    height: 0;
  }
}

.video {
  position: absolute;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

tui-notification {
  margin: 25px;
}

a {
  color: var(--tui-text-01);
  cursor: pointer;
  text-decoration: underline;
}

.search-container {
  margin: 126px 25px 25px 25px;
  display: flex;
  gap: 25px;
}

.search-item {
  flex-basis: 300px;
}

tui-scrollbar {
  max-height: calc(100vh - 157px);
}

.bottom-section {
  min-height: 100vh;
}

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
