<singularity-navbar [transparent]="true">
  <button sui-button (click)="previous()"><img class="icon" src="assets/icons/backwards.svg" width="20" alt="backwards">
  </button>
  <button sui-button (click)="paused = !paused">
    <img class="icon" src="assets/icons/play.svg" width="20" alt="play" *ngIf="paused">
    <img class="icon" src="assets/icons/pause.svg" width="20" alt="pause" *ngIf="!paused">
  </button>
  <button sui-button (click)="next()"><img class="icon" src="assets/icons/forwards.svg" width="20" alt="forwards">
  </button>
</singularity-navbar>

<ng-container *ngIf="songs$ | async; let songs">
  <div class="video-container" [class.collapsed]="isScrolled">
    <singularity-audio-player class="video" [songs]="songs" [index]="carouselIndex" [paused]="paused" [volume]="volume"
                              (songFinished)="next()"></singularity-audio-player>
    <singularity-song-carousel [songs]="songs" (changed)="onCarouselChange($event, songs)"></singularity-song-carousel>
  </div>

  <div class="bottom-section">


    <div class="search-container">
      <sui-input-container>
        <input suiInput type="text" [placeholder]="'play.search' | transloco" [(ngModel)]="searchTerm" />
      </sui-input-container>
<!--      <sui-input-container>-->
<!--        <select>-->
<!--          <option>{{ 'play.name' | transloco }}</option>-->
<!--          <option>{{ 'play.name' | transloco }}</option>-->
<!--          <option>{{ 'play.name' | transloco }}</option>-->
<!--          <option>{{ 'play.name' | transloco }}</option>-->
<!--        </select>-->
<!--      </sui-input-container>-->
      <tui-select
        class="search-item"
        [(ngModel)]="orderBy"
        [valueContent]="valueTemplate"
        tuiTextfieldSize="m"
      >
        {{ 'play.orderBy' | transloco }}
        <tui-data-list *tuiDataList>
          <button
            tuiOption
            [value]="{ key: 'name', ascending: true }"
          >
            {{ 'play.name' | transloco }}
            <tui-svg src="tuiIconArrowDown"></tui-svg>
          </button>
          <button
            tuiOption
            [value]="{ key: 'name', ascending: false }"
          >
            {{ 'play.name' | transloco }}
            <tui-svg src="tuiIconArrowUp"></tui-svg>
          </button>
          <button
            tuiOption
            [value]="{ key: 'artist', ascending: true }"
          >
            {{ 'play.artist' | transloco }}
            <tui-svg src="tuiIconArrowDown"></tui-svg>
          </button>
          <button
            tuiOption
            [value]="{ key: 'artist', ascending: false }"
          >
            {{ 'play.artist' | transloco }}
            <tui-svg src="tuiIconArrowUp"></tui-svg>
          </button>
        </tui-data-list>
      </tui-select>
      <ng-template #valueTemplate let-orderBy>
        <ng-container *ngIf="orderBy.key === 'artist'">{{ 'play.artist' | transloco }}</ng-container>
        <ng-container *ngIf="orderBy.key === 'name'">{{ 'play.name' | transloco }}</ng-container>
        <tui-svg *ngIf="orderBy.ascending" src="tuiIconArrowDown"></tui-svg>
        <tui-svg *ngIf="!orderBy.ascending" src="tuiIconArrowUp"></tui-svg>
      </ng-template>

    </div>

    <tui-notification *ngIf="isOfflineMode">
      {{ 'play.activeOfflineModeWarning' | transloco }} <a
      routerLink="/management/settings">{{ 'play.turnOffOfflineMode' | transloco }}</a>
    </tui-notification>

    <div class="song-grid">
      <singularity-song-grid-item [song]="song"
                                  *ngFor="let song of ((songs | search: 'name,artist' :searchTerm) | orderBy: orderBy.key :orderBy.ascending)"></singularity-song-grid-item>
    </div>
  </div>
</ng-container>
