<div class="logo">
  <sui-logo></sui-logo>
</div>
<h1 class="primary">{{ 'authentication.login.header' | transloco }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <sui-alert *ngIf="error" type="error" [message]="error"></sui-alert>
  <sui-input-container>
    <input suiInput
           formControlName="username"
           [placeholder]="'general.username' | transloco"
           type="text"
    />
  </sui-input-container>
  <div class="sui-space-top-large">
    <sui-input-container>
      <input
        suiInput
        [placeholder]="'general.password' | transloco"
        formControlName="password"
        type="password"
      />
    </sui-input-container>
  </div>
  <div class="flex sui-space-top-large align-center">
    <a class="link"
       routerLink="/authentication/reset-password">{{ 'authentication.login.forgotPassword' | transloco }}</a>
    <button suiButton class="flex-item" type="submit" [disabled]="loginForm.invalid"
            [loading]="isLoggingIn">{{ 'authentication.login.login' | transloco }}
    </button>
  </div>
</form>

<hr class="sui-space-top-large">
<div class="sui-space-top-large flex">
  <a (click)="showNoAccountInfoDialog()">{{ 'authentication.login.noAccount' | transloco }}</a>
</div>
