<div class="navbar" [class.transparent]="transparent">
  <div class="flex">
    <div class="navbar-left">
      <a routerLink="/">
        <img src="assets/logo/singularity-logo.svg" alt="Singularity Logo">
      </a>
    </div>
  </div>
  <div class="navbar-buttons">
    <button tuiButton size="m" routerLink="/play">{{ 'shared.navbar.play' | transloco }}</button>
    <button tuiButton appearance="flat" size="m" routerLink="/party" *ngIf="partyEnabled">{{ 'shared.navbar.party' | transloco }}</button>
    <button tuiButton appearance="flat" size="m" routerLink="/ui" *ngIf="devMode">Ui Components</button>
  </div>
  <div class="navbar-right">
    <ng-container>
      <tui-hosted-dropdown [content]="content">
        <button tuiButton type="button" iconRight="tuiIconChevronDown" appearance="flat">
          <tui-avatar [text]="(user$ | async)?.username ?? ''" [autoColor]="true" [rounded]="true" size="s"></tui-avatar>
          <div class="tui-space_left-2">
            {{ (user$ | async)?.username }}
          </div>
        </button>
      </tui-hosted-dropdown>
      <ng-template #content>
        <tui-data-list>
          <button tuiOption routerLink="/management/settings"><tui-svg src="tuiIconSettings"></tui-svg> {{ 'management.settings.header' | transloco }}</button>
          <button tuiOption (click)="logout()"><tui-svg src="tuiIconLock"></tui-svg> {{ 'shared.navbar.logout' | transloco }}</button>
        </tui-data-list>
      </ng-template>
    </ng-container>
  </div>
</div>
<div class="margin" *ngIf="!transparent">

</div>
