.navbar {
  box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 8%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  height: 3.9375rem;
  align-items: center;
  padding: 0 0.25rem 0 1.25rem;
  background: var(--tui-base-01);
  border-bottom: 1px solid var(--tui-base-03);
}

.transparent {
  background: transparent;
  border-bottom: none
}

.margin {
  height: 3.9375rem;
}

.flex {
  align-items: center;
}

.navbar-left {
  margin-right: auto;
  width: 180px;
}

.navbar-right {
  margin-left: auto;
}

.navbar-buttons {
  margin-left: 1.25rem;

  button {
    margin-right: 1.25rem;
  }
}

.logo {
  background-color: #000000AA;
  width: calc(16.25rem - 2.5rem);
  height: 25px;
}
