.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  height: 3.9375rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem 0 1.25rem;
  background: var(--glass-black-background);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

.margin {
  height: 3.9375rem;
}

.flex {
  align-items: center;
}

.navbar-left {
  margin-right: auto;
  width: 180px;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
}

.logo {
  background-color: #000000AA;
  width: calc(16.25rem - 2.5rem);
  height: 25px;
}
