<div class="navbar">
  <div class="flex">
    <div class="navbar-left">
      <a routerLink="/">
        <sui-logo></sui-logo>
      </a>
    </div>
  </div>
  <div class="navbar-buttons">
    <button sui-button routerLink="/play">{{ 'shared.navbar.play' | transloco }}</button>
    <button sui-button routerLink="/party" *ngIf="partyEnabled">{{ 'shared.navbar.party' | transloco }}</button>
    <ng-content></ng-content>
  </div>
  <div class="navbar-right">
    <sui-dropdown>
      <span sui-dropdown-button>{{ (user$ | async)?.username }}</span>
      <button sui-button routerLink="/management/settings"><img src="assets/icons/settings.svg" alt="settings" /> {{ 'management.settings.header' | transloco }}</button>
      <button sui-button (click)="logout()"><img src="assets/icons/lock.svg" alt="logout" /> {{ 'shared.navbar.logout' | transloco }}</button>
    </sui-dropdown>
  </div>
</div>
<div class="margin" *ngIf="!transparent">

</div>
