<div class='logo'>
  <img src='assets/logo/singularity-logo.svg' alt='Logo' width='100%' />
</div>
<h1 class='primary'>{{ 'authentication.resetPassword.header' | transloco }}</h1>
<form [formGroup]='resetPasswordForm' (ngSubmit)='submit()'>
  <tui-input formControlName='email'>
    {{ 'general.email' | transloco }}
    <input
      tuiTextfield
      type='email'
    />
  </tui-input>
  <div class='flex tui-space_top-5 align-center'>
    <a class='link' routerLink='/authentication/login'>{{ 'general.back' | transloco }}</a>
    <button tuiButton class='flex-item' type='submit' [disabled]='resetPasswordForm.invalid' [showLoader]='isLoading'>
      {{ 'authentication.resetPassword.resetPassword' | transloco }}
    </button>
  </div>
</form>

