<div class='logo'>
  <sui-logo></sui-logo>
</div>
<h1 class='primary'>{{ 'authentication.resetPassword.header' | transloco }}</h1>
<form [formGroup]='resetPasswordForm' (ngSubmit)='submit()'>
  <sui-input-container>
    <input
      formControlName='email'
      suiInput
      [placeholder]="'general.email' | transloco"
      type='email'
    />
  </sui-input-container>
  <div class='flex sui-space-top-large align-center'>
    <a class='link' routerLink='/authentication/login'>{{ 'general.back' | transloco }}</a>
    <button suiButton class='flex-item' type='submit' [disabled]='resetPasswordForm.invalid' [loading]='isLoading'>
      {{ 'authentication.resetPassword.resetPassword' | transloco }}
    </button>
  </div>
</form>

