<singularity-navbar [transparent]="false">

</singularity-navbar>
<singularity-sidebar>
<!--  <button tuiButton type="button" appearance="flat">Dashboard</button>-->
<!--  <button tuiButton type="button" appearance="flat">Aktive Spiele</button>-->
  <button tuiButton type="button" appearance="flat" routerLink="settings">{{ 'management.settings.header' | transloco }}</button>
  <button tuiButton type="button" appearance="flat" routerLink="songs">{{ 'management.songs.songList.header' | transloco }}</button>
  <button tuiButton type="button" appearance="flat" routerLink="users" *ngIf="isAdmin$ | async">{{ 'management.users.userList.header' | transloco }} <singularity-admin-feature-icon></singularity-admin-feature-icon></button>
<!--  <button tuiButton type="button" appearance="flat">Audit Logs</button>-->
</singularity-sidebar>
<div class="management-content">
  <router-outlet></router-outlet>
</div>
