<singularity-navbar [transparent]="false">

</singularity-navbar>
<singularity-sidebar>
  <button suiButton routerLink="settings">{{ 'management.settings.header' | transloco }}
  </button>
  <button suiButton routerLink="songs">{{ 'management.songs.songList.header' | transloco }}
  </button>
  <button suiButton *ngIf="isAdmin$ | async" routerLink="users">{{ 'management.users.userList.header' | transloco }}
    <singularity-admin-feature-icon></singularity-admin-feature-icon>
  </button>
</singularity-sidebar>
<div class="management-content">
  <sui-background type="dots">
    <router-outlet></router-outlet>
  </sui-background>
</div>
