<td class="avatar-td">
  <sui-fast-image [src]="cover$ | async" [blurrySrc]="fastCover$ | async" alt="Song Cover" width="50px" height="50px"></sui-fast-image>
</td>
<td>
  <div class="flex download-icon-td" *ngIf="isDownloaded$ | async">
    <tui-svg src="tuiIconDownload"  class="downloaded" [tuiHint]="downloadedHint" [tuiHintShowDelay]="100"></tui-svg>
  </div>
  <tui-loader size="s" [showLoader]="isDownloading || isCheckingDownload"></tui-loader>
</td>
<td>{{song?.name}}</td>
<td>{{song?.artist}}</td>
<td>{{song?.year}}</td>
<td>
    <button
      suiButton
      size="s"
      [isIcon]="true"
      type="button"
      (click)="start()"
      [suiTooltip]="playHint"
    >
      <img class="icon" src="assets/icons/play-stroke.svg" width="20" alt="play">
    </button>
  <button
    *ngIf="(isDownloaded$ | async) === false else notDownloaded"
    suiButton
    size="s"
    type="button"
    [isIcon]="true"
    (click)="download()"
    [disabled]="isDownloading || isCheckingDownload"
    [suiTooltip]="downloadButtonHint"
  >
    <img class="icon" src="assets/icons/download.svg" width="20" alt="download">
  </button>
  <button
    *ngIf="isAdmin$ | async"
    suiButton
    size="s"
    type="button"
    [isIcon]="true"
    (click)="delete()"
    [suiTooltip]="deleteHint"
  >
    <img class="icon" src="assets/icons/delete.svg" width="20" alt="delete">
  </button>
  <ng-template #notDownloaded>
    <button
      suiButton
      size="s"
      type="button"
      [isIcon]="true"
      (click)="removeDownload()"
      [disabled]="isCheckingDownload"
      [suiTooltip]="removeDownloadButtonHint"
    >
      <img class="icon" src="assets/icons/delete-circle.svg" width="20" alt="delete">
    </button>
  </ng-template>
</td>

<ng-template #downloadedHint>
  {{ 'management.songs.songListItem.downloadedHint' | transloco }}
</ng-template>

<ng-template #playHint>
  {{ 'management.songs.songListItem.playHint' | transloco }}
</ng-template>

<ng-template #deleteHint>
  {{ 'management.songs.songListItem.deleteHint' | transloco }}
</ng-template>

<ng-template #downloadButtonHint>
  {{ 'management.songs.songListItem.downloadButtonHint' | transloco }}
</ng-template>

<ng-template #removeDownloadButtonHint>
  {{ 'management.songs.songListItem.removeDownloadButtonHint' | transloco }}
</ng-template>
