.avatar-td {
  padding: 0;
  width: 50px;

  img {
    width: 100%;
  }
}

.download-icon-td {
  justify-content: center;
}

.downloaded {
  color: var(--tui-positive)
}

.not-downloaded {
  color: var(--tui-text-03)
}
