.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.video {
  width: 75%;
  aspect-ratio: 1;
  border-radius: 500px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.invisible {
  display: none;
}
