$header-height: 200px;

.header {
  height: $header-height;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin-top: calc(-1 * var(--padding));
  margin-left: calc(-1 * var(--padding));
  margin-right: calc(-1 * var(--padding));

  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  width: 100%;
  height: $header-height;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}


.singer-list {
  align-items: center;
}
