<div class="header" [style.background-color]="bestSinger.color">
  <canvas #confetti></canvas>
  <h1>{{highestScore | scoreTitle}}</h1>
</div>
<h1>{{ 'sing.singScoreDialog.score' | transloco }}</h1>
<div *ngFor="let singer of context.data.singers; let i = index" class="flex singer-list sui-space-top-large">
  <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
       color="#000000" stroke-width="1.5">
    <rect x="9" y="2" width="6" height="12" rx="3" [attr.fill]="singer.color" [attr.stroke]="singer.color"
          stroke-width="1.5"></rect>
    <path d="M5 10V11C5 14.866 8.13401 18 12 18V18V18C15.866 18 19 14.866 19 11V10" [attr.stroke]="singer.color"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M12 18V22M12 22H9M12 22H15" [attr.stroke]="singer.color" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
  </svg>
  <progress suiProgress max="10000" [value]="context.data.scores[i]" [ngStyle]="{ '--primary': singer.color }"></progress>
</div>
