<div class="logo">
  <img src="assets/logo/singularity-logo.svg" alt="Logo" width="100%"/>
</div>

<ng-container *ngIf="token">
  <h1 class="primary">{{ 'authentication.setPassword.header' | transloco }}</h1>
  <form [formGroup]="setPasswordForm" (ngSubmit)="submit()">
    <tui-input formControlName="password">
      {{ 'general.password' | transloco }}
      <input
        tuiTextfield
        type="password"
      />
    </tui-input>
    <tui-input class="tui-space_top-5" formControlName="repeatPassword">
      {{ 'general.repeatPassword' | transloco }}
      <input
        tuiTextfield
        type="password"
      />
    </tui-input>
    <div class="flex tui-space_top-5 align-center">
      <button tuiButton class="flex-item" type="submit" [disabled]="setPasswordForm.invalid || setPasswordForm.controls.password.value !== setPasswordForm.controls.repeatPassword.value">
        {{ 'authentication.setPassword.setPassword' | transloco }}
      </button>
    </div>
  </form>

</ng-container>

<ng-container *ngIf="!token">
  <h1 class="primary">{{ 'general.error' | transloco }}</h1>
  <p>{{ 'authentication.setPassword.invalidLink' | transloco }}</p>
</ng-container>
