<div class="logo">
  <sui-logo></sui-logo>
</div>

<ng-container *ngIf="token">
  <h1 class="primary">{{ 'authentication.setPassword.header' | transloco }}</h1>
  <form [formGroup]="setPasswordForm" (ngSubmit)="submit()">
    <sui-input-container>
      <input
        suiInput
        [placeholder]="'general.password' | transloco"
        formControlName="password"
        type="password"
      />
    </sui-input-container>
    <div class="sui-space-top-large">
      <sui-input-container>
        <input
          suiInput
          [placeholder]="'general.repeatPassword' | transloco"
          formControlName="repeatPassword"
          type="password"
        />
      </sui-input-container>
    </div>
    <div class="flex sui-space-top-large align-center">
      <button suiButton class="flex-item" type="submit" [disabled]="setPasswordForm.invalid || setPasswordForm.controls.password.value !== setPasswordForm.controls.repeatPassword.value">
        {{ 'authentication.setPassword.setPassword' | transloco }}
      </button>
    </div>
  </form>

</ng-container>

<ng-container *ngIf="!token">
  <h1 class="primary">{{ 'general.error' | transloco }}</h1>
  <p>{{ 'authentication.setPassword.invalidLink' | transloco }}</p>
</ng-container>
